.main-buttons {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap; /* Дозволяє кнопкам переноситись на новий рядок */
  gap: 20px; /* Відстань між кнопками */
  margin: 80px auto;
  padding: 20px;
  max-width: 800px; /* Збільшимо ширину для трьох кнопок */

}

.main-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 28px; /* Трохи збільшимо відступи */
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-size: 1rem; /* Збільшимо шрифт */
  line-height: 22px;
  font-weight: 500;
  color: #fff;
  background: #8E44EE;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1F;
  transition: background 0.2s ease, transform 0.1s ease;
}

/* Hover */
.main-btn:hover {
  background: #6F15E5;
}

/* Active (при кліку) */
.main-btn:active {
  background: #4A0E98;
  transform: scale(0.97);
}

@media (max-width: 768px) {
  .main-buttons {
    flex-direction: column;
    align-items: center;
    width: 92%;
    gap: 15px;
  }

  .main-btn {
    width: 80%;
    text-align: center;
    padding: 15px;
  }
}